<!DOCTYPE html>
<html ng-app="AppZemoga">
<head>
	<title>Zemoga</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
</head>
<body>
	<!-- Header -->
	<div class="header">
		<div class="logo">
			<label>Rule of Thumb</label>
		</div>
		<div class="menu">
			<span><a href="/past">Past Trials</a></span>
			<span><a href="/how">How It Works</a></span>
			<span><a href="/log">Log In / Sign Up</a></span>
			<img src="/images/lupa.svg">
		</div>
	</div>

	<!-- Seccion de Intro -->
	<section class="intro">
		<div class="inner">
			<div class="containerInner">
				<div class="contentTextInner">
					<div class="containerTextInner">
						<label class="title1Inner">
							What's your opinion on
						</label>
						<label class="title2Inner">
							Pope Francis?
						</label>
						<p class="paragraphInner">
							He's talking tough on clergy sexual abuse,
							but is he just another papal pervert
							protector? (thumbs down) or a true
							pedophile punishing pontiff? (thumbs up)
						</p>
						<label class="moreInfoInner">
							<img src="/images/Wiki.png" alt=""> More information
						</label>
						<label class="verdictInner">
							What's Your Verdict?
						</label>
					</div>
				</div>
				<div class="left">
					<img src="/images/PulgarArriba.svg" alt="">
				</div>
				<div class="right">
					<img src="/images/PulgarAbajo.svg" alt="">
				</div>
			</div>
		</div>
		<div class="footerInner">
			<div class="footerLeftInner">
				<label>CLOSING IN</label>
			</div>
			<div class="footerRightInner">
				<label>22 days</label>
			</div>
		</div>
	</section>
	
	<!-- Cuerpo de los votos -->
	<section class="bodyInformation">
		<div class="containerInformation">
			<div class="contentInformation">
				<div class="opinionInformation">
					<div class="informationSection1">
						<label class="label1">
							Speak out. Be heard.
						</label>
						<label class="label2">
							Be counted
						</label>						
					</div>
					<div class="informationSection2">
						<p class="paragraph">
							Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opinion, we analyze and put data in a public report.
						</p>
					</div>
				</div>
				<div class="titleVotes">
					<label>
						Votes
					</label>
				</div>
				<div class="containerVotes" ng-controller="controllerVotes">
					<div id="c1" class="contentVotes" style="background-image: url(/images/KanyeWest.png);">
						<div class="informationVotes">
							<div class="contentNameVotes">
								<img src="">
								<div class="positionVotes nameVotes">
									<label class="name">
										Kanye West
									</label>
									<label class="time">
										1 month ago in Entertainment
									</label>
								</div>
							</div>
							<div class="positionVotes paragraphVotes">
								<p>
									Vestibulum diam ante, porttitor a odio eget, rhoncus 
									neque. Aenean eu velit libero.
								</p>
							</div>
							<div class="positionVotes votes">
								<img src="/images/PulgarArriba.svg" class="arriba" ng-click="selectVoteTrue(1)">
								<img src="/images/PulgarAbajo.svg" class="abajo" ng-click="selectVoteFalse(1)">
								<a ng-click="votes(1)" class="voteNow">
									Vote now
								</a>
							</div>
							<div class="positionVotes voteAgain">
								<a ng-click="votesAgain(1)" class="voteNow">
									Vote again
								</a>
							</div>
							<div class="statisticsVotes">
								<div class="trueVotes">
									<img src="/images/PulgarArriba.svg">
									<label>
										
									</label>
								</div>
								<div class="falseVotes">
									<label>
											
									</label>
									<img src="/images/PulgarAbajo.svg">
								</div>
							</div>
						</div>
					</div>
					
					<div id="c2" class="contentVotes spacing" style="background-image: url(/images/Mark.png);">
						<div class="informationVotes">
							<div class="contentNameVotes">
								<img src="">
								<div class="positionVotes nameVotes">
									<label class="name">
										Mark Zuckerberg
									</label>
									<label class="time">
										1 month ago in Entertainment
									</label>
								</div>
							</div>
							<div class="positionVotes paragraphVotes">
								<p>
									Vestibulum diam ante, porttitor a odio eget, rhoncus 
									neque. Aenean eu velit libero.
								</p>
							</div>
							<div class="positionVotes votes">
								<img src="/images/PulgarArriba.svg" class="arriba" ng-click="selectVoteTrue(2)">
								<img src="/images/PulgarAbajo.svg" class="abajo" ng-click="selectVoteFalse(2)">
								<a ng-click="votes(2)" class="voteNow">
									Vote now
								</a>
							</div>
							<div class="positionVotes voteAgain">
								<a ng-click="votesAgain(2)" class="voteNow">
									Vote again
								</a>
							</div>
							<div class="statisticsVotes">
								<div class="trueVotes">
									<img src="/images/PulgarArriba.svg">
									<label>
										
									</label>
								</div>
								<div class="falseVotes">
									<label>
											
									</label>
									<img src="/images/PulgarAbajo.svg">									
								</div>
							</div>
						</div>
					</div>
					<div id="c3" class="contentVotes" style="background-image: url(/images/Cristina.png);">
						<div class="informationVotes">
							<div class="contentNameVotes">
								<img src="">
								<div class="positionVotes nameVotes">
									<label class="name">
										Cristina Fernández de Kirchner
									</label>
									<label class="time">
										1 month ago in Entertainment
									</label>
								</div>
							</div>
							<div class="positionVotes paragraphVotes">
								<p>
									Vestibulum diam ante, porttitor a odio eget, rhoncus 
									neque. Aenean eu velit libero.
								</p>
							</div>
							<div class="positionVotes votes">
								<img src="/images/PulgarArriba.svg" class="arriba" ng-click="selectVoteTrue(3)">
								<img src="/images/PulgarAbajo.svg" class="abajo" ng-click="selectVoteFalse(3)">
								<a ng-click="votes(3)" class="voteNow">
									Vote now
								</a>
							</div>
							<div class="positionVotes voteAgain">
								<a ng-click="votesAgain(3)" class="voteNow">
									Vote again
								</a>
							</div>
							<div class="statisticsVotes">
								<div class="trueVotes">
									<img src="/images/PulgarArriba.svg">
									<label>
										
									</label>
								</div>
								<div class="falseVotes">
									<label>
											
									</label>
									<img src="/images/PulgarAbajo.svg">									
								</div>
							</div>
						</div>
					</div>
					<div id="c4" class="contentVotes spacing" style="background-image: url(/images/Malala.png);">
						<div class="informationVotes">
							<div class="contentNameVotes">
								<img src="">
								<div class="positionVotes nameVotes">
									<label class="name">
										Malala Yousafzai
									</label>
									<label class="time">
										1 month ago in Entertainment
									</label>
								</div>
							</div>
							<div class="positionVotes paragraphVotes">
								<p>
									Vestibulum diam ante, porttitor a odio eget, rhoncus 
									neque. Aenean eu velit libero.
								</p>
							</div>
							<div class="positionVotes votes">
								<img src="/images/PulgarArriba.svg" class="arriba" ng-click="selectVoteTrue(4)">
								<img src="/images/PulgarAbajo.svg" class="abajo" ng-click="selectVoteFalse(4)">
								<a ng-click="votes(4)" class="voteNow">
									Vote now
								</a>
							</div>
							<div class="positionVotes voteAgain">
								<a ng-click="votesAgain(4)" class="voteNow">
									Vote again
								</a>
							</div>
							<div class="statisticsVotes">
								<div class="trueVotes">
									<img src="/images/PulgarArriba.svg">
									<label class="text">
										
									</label>
								</div>
								<div class="falseVotes">
									<label>
											
									</label>
									<img src="/images/PulgarAbajo.svg">									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="banner">
					<div class="informationBanner">
						<label>
							Is there anyone else you would want us to add?
						</label>
					</div>
					<div class="submitBanner">
						<a href="#">
							Submit a Name
						</a>
					</div>
				</div>
				<div class="footer">
					<div class="conditionsFooter">
						<span>Terms and Conditions</span>
						<span>Privacy Policy</span>
						<span>Contact Us</span>
					</div>
					<div class="socialFooter">
						<span>Folow Us</span>
						<img src="/images/facebook.png">
						<img src="/images/twitter.png">
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- Herramientas -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Archivos creados -->
<script type="text/javascript" src="/view/controllerHome.js"></script>

</body>
</html>