@import url('https://fonts.googleapis.com/css?family=Lato');

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}
/*------- Header ------*/
.header{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 95px;
	color: white;
	font-size: 16px;
	background: rgba(36,33,36,1);
	background: -moz-linear-gradient(top, rgba(36,33,36,1) 0%, rgba(36,33,36,0.98) 1%, rgba(26,25,26,0.53) 30%, rgba(26,25,26,0.17) 53%, rgba(156,156,156,0) 64%, rgba(232,232,232,0) 80%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,33,36,1)), color-stop(1%, rgba(36,33,36,0.98)), color-stop(30%, rgba(26,25,26,0.53)), color-stop(53%, rgba(26,25,26,0.17)), color-stop(64%, rgba(156,156,156,0)), color-stop(80%, rgba(232,232,232,0)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(36,33,36,1) 0%, rgba(36,33,36,0.98) 1%, rgba(26,25,26,0.53) 30%, rgba(26,25,26,0.17) 53%, rgba(156,156,156,0) 64%, rgba(232,232,232,0) 80%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(36,33,36,1) 0%, rgba(36,33,36,0.98) 1%, rgba(26,25,26,0.53) 30%, rgba(26,25,26,0.17) 53%, rgba(156,156,156,0) 64%, rgba(232,232,232,0) 80%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(36,33,36,1) 0%, rgba(36,33,36,0.98) 1%, rgba(26,25,26,0.53) 30%, rgba(26,25,26,0.17) 53%, rgba(156,156,156,0) 64%, rgba(232,232,232,0) 80%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(36,33,36,1) 0%, rgba(36,33,36,0.98) 1%, rgba(26,25,26,0.53) 30%, rgba(26,25,26,0.17) 53%, rgba(156,156,156,0) 64%, rgba(232,232,232,0) 80%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242124', endColorstr='#ffffff', GradientType=0 );
}
.header .logo{
	width: 30%;
	height: 100%;
}
.header .menu{
	width: 70%;
	height: 100%;
	text-align: right;
}
.header .logo,
.header .menu{
	float: left;
}
.header .menu span{
	position: relative;
	top: 13px;
	margin-right: 5.57%;
}
.header .menu img{
	position: relative;
	top: 18px;
	margin-right: 5.57%;
}
.header .menu span a{
	text-decoration: none;
	color: white;
}
.header .logo label{
	position: relative;
	top: 10px;
	padding-left: 133px;
	font-size: 32px;
}
/*------- Fin Header ------*/

/*------- PRIMERA SECCION ------*/
.intro{
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(/images/Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.inner .containerInner{
	margin-left: 9.1%;
	width: 38.4%;
}
.containerInner .left,
.containerInner .right{
	margin: 0 auto;
	width: 50%;
	height: 80px;
	float: left;
	text-align: center;
}
.containerInner .left img,
.containerInner .right img{
	position: relative;
	top: 20%;	
}
.containerInner .left{
	background-color: rgba(45, 188, 180, .9);
}
.containerInner .right{
	background-color: rgba(254, 180, 50, .9);
}
.contentTextInner{
	background-color: rgba(78,77,81, .7);
}
.containerTextInner{
	padding: 34px;
}
.title1Inner{
	display: block;
	color: #cccac9;
	font-size: 16px;
}
.title2Inner{
	display: block;
	color: rgba(255, 255, 255, 1);
	font-size: 60px;
}
.paragraphInner{
	color: #cccac9;
	font-size: 21px;
}
.moreInfoInner{
	display: block;
	color: #cccac9;
	font-size: 14px;
	text-decoration: underline;
}
.moreInfoInner img{
	width: 16px;
	height: 12px;
}
.verdictInner{
	margin-top: 45px;
	display: block;
	font-size: 16px;
	color: white;
	font-weight: 900;
}
.footerInner{
	display: table-row-group;
	vertical-align: bottom;
	width: 100%;
}
.footerInner .footerLeftInner{
	width: 30.3%;
	text-align: right;
	background-color: rgba(167, 160, 152, .5);
}
.footerLeftInner label{
	position: relative;
	top: 25%;
	padding-right: 11px;
	font-size: 13px;
	color: white;
	text-transform: uppercase;
}
.footerInner .footerRightInner{
	width: 69.7%;
	text-align: left;
	background-color: rgba(241, 241, 241, .8);
}
.footerRightInner label{
	padding-left: 19px;
	font-size: 36.38px;
	color: rgb(70, 70, 70);
}
.footerInner .footerLeftInner,
.footerInner .footerRightInner{
	height: 49px;
	float: left;
}
/*------- FIN PRIMERA SECCION ------*/

/*------- SEGUNDA SECCION ------*/
.bodyInformation{
	width: 100%;
	background-color: white;
}
.bodyInformation .containerInformation{
	width: 100%;
}
.contentInformation{
	padding: 36px 10% 1.1% 10%;
}
.opinionInformation{
	width: 96%;
	padding: 25px;
	height: 45px;
	background-color: rgb(235, 235, 235);
	display: table;
}
.opinionInformation .informationSection1,
.opinionInformation .informationSection2{
	float: left;
	display: table-cell;
	vertical-align: middle;
}
.opinionInformation .informationSection1{
	width: 18.4%;
}
.opinionInformation .informationSection2{
	margin-left: 2%;
	width: 70%;
}
.informationSection1 .label1{
	display: block;
	font-size: 20px;
	color: rgb(51, 51, 51);
}
.informationSection1 .label2{
	display: block;
	font-size: 37.1px;
	font-weight: bold;
	color: rgb(51, 51, 51);
}
.informationSection2 .paragraph{
	font-size: 15px;
	color: rgb(51, 51, 51);
}

/*------- Seccion de votos ------*/
.titleVotes{
	margin-top: 39px;
	width: 100%;
}
.titleVotes label{
	font-size: 40px;
	color: rgb(51, 51, 51);
}
.containerVotes{
	width: 100% !important;
}
.containerVotes .contentVotes{
	margin-top: 52px;
	width: 47.4%;
	height: 480px;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
}
.spacing{
	margin-left: 5%;
}
.containerVotes .contentVotes .informationVotes{
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	background: rgba(209,209,209,0);
	background: -moz-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(189,182,182,0.13) 13%, rgba(107,107,107,0.33) 33%, rgba(79,78,77,0.59) 59%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,209,209,0)), color-stop(13%, rgba(189,182,182,0.13)), color-stop(33%, rgba(107,107,107,0.33)), color-stop(59%, rgba(79,78,77,0.59)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(189,182,182,0.13) 13%, rgba(107,107,107,0.33) 33%, rgba(79,78,77,0.59) 59%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(189,182,182,0.13) 13%, rgba(107,107,107,0.33) 33%, rgba(79,78,77,0.59) 59%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(189,182,182,0.13) 13%, rgba(107,107,107,0.33) 33%, rgba(79,78,77,0.59) 59%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(209,209,209,0) 0%, rgba(189,182,182,0.13) 13%, rgba(107,107,107,0.33) 33%, rgba(79,78,77,0.59) 59%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#000000', GradientType=0 );
}
.positionVotes{
	position: relative;
	left: 42px;
	right: 42px;
}
.informationVotes .contentNameVotes{
	display: block;
	width: 100%;
}
.contentNameVotes .nameVotes .name{
	display: block;
	color: white;
	font-size: 45px;
}
.contentNameVotes .nameVotes .time{
	display: block;
	color: white;
	font-size: 12.01px;
}
.informationVotes .paragraphVotes{
	display: block;
	width: 100%;
	color: white;
	font-size: 16px;
	padding-right: 20px;
}
.informationVotes .paragraphVotes p{
	padding-right: 50px;
}
.informationVotes .votes{
	display: block;
	padding: 2px;
}
.informationVotes .votes img{
	padding: 7px;
	width: 22px;
	height: 22px;
	margin-right: 9px;
	cursor: pointer;
}
.informationVotes .votes .arriba{
	background-color: rgb(28, 187, 180);
}
.informationVotes .votes .abajo{
	background-color: rgb(255, 173, 29);
}
.informationVotes .votes a,
.informationVotes .voteAgain a{
	position: relative;
	top: -14px;
	padding: 9px 15px 9px 15px;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	border: 1px solid white;
	text-decoration: none;
	color: white;
	font-size: 14px;
	cursor: pointer;
}
.informationVotes .voteAgain{
	top: 20px;
	display: none;
	padding-bottom: 24px;
}
.informationVotes .statisticsVotes{
	margin-top: 34px;
	display: block;
	width: 100%;
}
.statisticsVotes .trueVotes,
.statisticsVotes .falseVotes{
	height: 50px;
	float: left;
}
.statisticsVotes .trueVotes{
	background-color: rgba(28, 187, 180, .3);
}
.statisticsVotes .falseVotes{
	text-align: right;
	background-color: rgba(255, 173, 29, .3);
}
.statisticsVotes .trueVotes img,
.statisticsVotes .falseVotes img{
	position: relative;
	width: 31px;
	height: 31px;
	top: 13%;
	padding: 0% 4% 0% 4%;
}
.statisticsVotes .trueVotes label,
.statisticsVotes .falseVotes label{
	font-size: 24px;
	color: white;
	font-weight: lighter;
}
.borderVotesSelect{
	border: 2px white solid;
}
/*------- Fin Seccion de votos ------*/

/*------- Banner ----------*/
.contentInformation .banner{
	position: relative;
	width: 100%;
	height: 81px;
	background-image: url(/images/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 34px;
}
.banner .informationBanner{
	width: 70%;
}
.banner .submitBanner{
	width: 30%;
	text-align: right;
}
.banner .informationBanner,
.banner .submitBanner{
	position: relative;
	top: 30%;
	float: left;
}
.banner .informationBanner label{
	padding-left: 2.7%;
	font-size: 30px;
	color: #333333;
	font-weight: lighter;
}
.banner .submitBanner a{
	border: 3px rgb(51, 51, 51) solid;
	color: rgb(51, 51, 51);
	font-size: 20px;
	text-decoration: none;
	padding: 10px 42px 10px 42px;
	margin-right: 20px;
	line-height: 35px;
}
/*------- Fin Banner ------*/

/*------- Footer ------*/
.contentInformation .footer{
	position: relative;
	width: 100%;
	height: 81px;
	display: inline-block;
	margin-top: 34px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #979797;
	padding-top: 36px;
}
.footer .conditionsFooter{
	width: 70%;
}
.footer .conditionsFooter span{
	font-size: 12px;
	color: #333333;
	margin-right: 2.42%;
}
.footer .socialFooter{
	width: 30%;
	text-align: right;
}
.footer .socialFooter span{
	position: relative;
	top: -10px;
	font-size: 12px;
	color: #333333;
}
.footer .socialFooter img{
	width: 25px;
	height: 25px;
	margin-left: 7.33%;
}
.footer .conditionsFooter,
.footer .socialFooter{
	float: left;
}
/*------- Fin Footer ------*/

/*------- FIN SEGUNDA SECCION ------*/